ion-content.monster-game {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}


img.monster-face {
    margin-top: 15px;
}

img.monster-face.BIG {
    width: 90%;
}

img.monster-face.MEDIUM {
    width: 50%;
}

img.monster-face.SMALL {
    width: 20%;
}

div.monster-msg {
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-radius: 3px;
    border-top-right-radius: 3px;

    width: 95%;
    height: 100px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ECECEC;
    padding: 10px;
    vertical-align: middle;
    text-align: center;display:table;
}

div.monster-msg span {
    display:table-cell;
    vertical-align:middle;
    font-size: 30px;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


/*   BASKET LIST STYLES */

ion-content.basket div {
    width: auto;
}

ion-content.basket h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

ion-content.basket ul {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

ion-content.basket li.red {
    background-color: #ef4e3a;
}

ion-content.basket li.orange {
    background-color: coral;
}

ion-content.basket li.green {
    background-color: greenyellow;
}

ion-content.basket li {
    padding: 0 0 0 10px ;
    font: 200 30px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 3px solid #fff;
}

ion-content.basket li:last-child {
    border: none;
}

ion-content.basket li * {
    text-decoration: none;
    color: #000;
    display: inline-block;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

ion-content.basket li a.del-btn {
    float: right;
    height: 31px;
}

ion-content.basket li div.text {
    width: 80%;
}

ion-content.basket li div.btn {
    width: 10%;
}